@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
main{
  flex-grow: 1;
  padding: 1rem;
}
.sabsemain{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.route-divider {
  max-width: 40%;
}
.route-heading{
  font-size: 2rem;
  margin:0 auto;
  text-align: center;
}
/* Blog List --------------------------------------------- */

.list-section{
  display:flex;
  flex-direction: row;
}
.bloglisting{
  list-style-type: none;  
  flex-grow: 1;
}
.sidebar{
  padding: 1rem;
  border-left:  0.02em solid grey;
}


/* Form---------------------------------------------- */

.form-body {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group{
  margin-bottom: 1rem;
}

.form-label{
  display: block;
  margin: 1rem;

}





/* Footer---------------------------------------- */
footer{  
  color: aliceblue;
  background-color: rgb(31, 41, 55);
}
footer p {
  margin:10px auto;
  text-align: center;
}
footer a{
  color: aliceblue;
  text-decoration: none;
}